.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    background-color: rgba(109, 109, 109, 0.652);
    color: rgb(255, 255, 255);
    text-wrap: wrap;
    border-radius: 2px;
    transition: 500ms;
    bottom: -35px;
    left: 0px;
    opacity: 0;
    width: 80px;
    height: auto;
    text-align: center;
    font-weight: 400;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    animation-delay: 2s;
    opacity: .8;
    transition: 200ms;
    transition-delay: 800ms;
    border: 1px solid white;
}

.tooltip-text:hover {
    cursor: default;
}

#topo-pagina-btn #seta {
    transition: .5s;
    opacity: 0;
}

#topo-pagina-btn:hover #seta {
    animation: seta 1.5s infinite;
}

@keyframes seta {
    0% { opacity: 0; }
    50% { opacity: .8; }
    100% { opacity: 0; }
}